<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
    rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
   />
   <style></style>
  </head>
  <body>
    <!-- <h1>Forgot password</h1>
    <form action="" method="POST">
      <label for="email">Email/username</label>
      <input type="email" name="email" id="email" />
      <br />
      <input type="submit" value="submit" />
    </form> -->
    <div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <form class="card mt-4" method="POST">
	                <div class="card-body">
	                    <div class="form-group"> <label for="email">Enter your email address</label> <input class="form-control" type="email" name="email" id="email" required=""><small class="form-text text-muted">Enter the email address you used during the registration on ShareSEcure Then we'll email a link to this address.</small> </div>
	                </div>
	                <div class="card-footer"> <button class="btn btn-success" type="submit">Get Reset Link</button>
	            </form>
	        </div>
	    </div>
	</div>
  </body>
</html>
