<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
    rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
   />
   <link rel="stylesheet" href="./uploads/forgotpassword.css"> 
   
  </head>

    <body>
      <section class="landing-page">
        <img src="./uploads/images/liq-1.png" alt="" class="blob blob-1 hue-shift">
        <img src="./uploads/images/liq-2.png" alt="" class="blob blob-2 hue-shift">
        <img src="./uploads/images/liq-3.png" alt="" class="blob blob-3 hue-shift">
        <img src="./uploads/images/liq-6.png" alt="" class="blob blob-4 hue-shift">
      <div class="main-container">
      
 
      <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>
    <div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <form class="card mt-4" method="POST" action="/forgotpassword">
	                <div class="card-body">
	                    <div class="form-group"> <label style="color: white" for="email"><h3><b>Enter Your Email Address</b></h3></label> <input class="form-control" type="email" name="email" id="email" required=""><small style = "color: white" form-text text-muted">Enter the email address you used during the registration on ShareSecure,Then we'll email a link to this address.</small> </div>
	                </div>
	                <div class="card-footer"> <button class="btn btn-outline-success" type="submit">Get Reset Link</button>
                    <small class="homesmall" style="color: white"> Or Back to  <a href="/">Home</a></small>
	            </form>
	        </div>
	    </div>
      </div>
	</div>

</section>
  </body>
</html>
