<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="./uploads/adminlogin.css"> 
   
  </head>
  <body>

    <section class="landing-page">
      <div class="container">
      
  
      <div class="col-sm-6 col-sm-offset-3">
  

    <h1>Reset password</h1>
    <form action="" method="POST">


      <div class="form-group">
        <label style="color: white">Password</label>
        <input type="password" class="form-control" id="password" name="password" required/>
      </div>

      <br />
      <label for="password">confirm password</label>
      <input type="password" name="password2" id="password2" required/>
      <input type="submit" value="reset password" />
    </form>
  </div>
</div>

        <img src="./uploads/images/liq-1.png" alt="" class="blob blob-1 hue-shift">
        <img src="./uploads/images/liq-2.png" alt="" class="blob blob-2 hue-shift">
        <img src="./uploads/images/liq-3.png" alt="" class="blob blob-3 hue-shift">
        <img src="./uploads/images/liq-6.png" alt="" class="blob blob-4 hue-shift">
</section>
</body>
    <script>
      var password = document.getElementById("password")
      , confirm_password = document.getElementById("password2");

      function validatePassword(){
         if(password.value != confirm_password.value) {
         confirm_password.setCustomValidity("Passwords Don't Match");
         } else {
         confirm_password.setCustomValidity('');
        }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
  
</html>
