<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  
    <style>
	</style>
</head>
<body>
<div class="container">
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Authenticate</h1>
        <form action="/room/visiter/<%= visiter %>" method="POST">
            <div class="form-group">
                <label>Key:</label>
                <input type="text" class="form-control" name="key">
            </div>
            <button type="submit" class="btn btn-warning">Proceeed -> </button>
        </form>
	</div>
    <p>Or go <a href="/">home</a>.</p>
</div>


</body>
</html>











