
/*Base*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
.landing-page::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: 100vh;
	background-image: url("./images/bg-pat.png"); 
	background-size: cover; 
	opacity: .4;
	z-index: -1;
}

.landing-page{

    top: 0%;
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(to bottom right,#384679, #283153); 
	position:absolute;
	overflow: hidden;
	display: flex;
	align-items: center;
	z-index: 1;	
}


.container{
	background-color: rgba(0, 0, 0, 0.4);
	border: 3px solid #dfdfdff8;
    width: 40%;
	padding: 0;
	padding-left: 0%;
	border-radius: 10px;
	margin-left: 30%
;

	position: fixed;
}
.pos{
	position: relative;
   


}
