
/*Base*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
.landing-page::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: 100vh;
	background-image: url("./images/bg-pat.png"); 
	background-size: cover; 
	opacity: .4;
	z-index: -1;
}

.landing-page{

    top: 0%;
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(to bottom right,#384679, #283153); 
	position: fixed;
	overflow: hidden;
	display: flex;
	align-items: center;
	z-index: 1;	
}


.main-container{
	background-color: rgba(0, 0, 0, 0.4);
    height: 38%;
    position: fixed;
    left : 10%;
    top: 25%;
    width: 75%;
    padding:2%;
    border: 3px solid #eee3ea;
}
.pos{
	position: relative;
   

}
.homesmall{
	position: fixed;
	top: 55%;
	right:  20%;
}
